<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HIN Personal Portfolio HTML Template</title>

    <!-- favicon icon -->
    <link rel="icon" href="assets/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <div id="preloader">
        <div class="lds-css">
            <div class="preloader-3">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <section class="demo-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="demo-content pt-180">
                        <a href="hin-html/index.html" class="logo">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                        <div class="template-title">
                            HIN - Personal Portfolio HTML5 Template for Creative design
                            Freelancer, one page business, Photography, Resume
                        </div>
                        <div class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                            <div class="design-img d-inline-flex">
                                <div class="design-img-1">
                                    <img src="assets/img/dex1.png" alt="">
                                </div>
                                <div class="design-img-1">
                                    <img src="assets/img/dex2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="features-content row pt-180">
                            <div class="col-lg-12">
                                <div class="section-title">HIN Features</div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="1000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-1.png" alt="">
                                        </div>
                                        <h3>100% VALID HTML</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="2000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-2.png" alt="">
                                        </div>
                                        <h3>100% VALID CSS</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="3000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-3.png" alt="">
                                        </div>
                                        <h3>ACTIVE CONTACT FORM</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="1000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-4.png" alt="">
                                        </div>
                                        <h3>ORGANIZED CODE</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="2000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-5.png" alt="">
                                        </div>
                                        <h3>NUMBER 1 DESIGN</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="3000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-6.png" alt="">
                                        </div>
                                        <h3>RESPONSIVE DESIGN</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="1000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-7.png" alt="">
                                        </div>
                                        <h3>EASY TO CUSTOMIZED</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="2000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-8.png" alt="">
                                        </div>
                                        <h3>CREATIVE DESIGN</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="3000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-9.png" alt="">
                                        </div>
                                        <h3>AJAX CONTACT FORM</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="1000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-10.png" alt="">
                                        </div>
                                        <h3>EASY TO EDIT CODE</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="2000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-11.png" alt="">
                                        </div>
                                        <h3>BEST UI & UX</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 feature-col">
                                <div class="feature-aline aos-init aos-animate" data-aos="fade-up"
                                    data-aos-duration="3000">
                                    <div class="feature-item">
                                        <div class="features-img">
                                            <img src="assets/img/Layer-12.png" alt="">
                                        </div>
                                        <h3>FREE GOOGLE FONT USED</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-part-content row pt-180">
                            <div class="col-lg-12">
                                <div class="section-title">Page inclosed</div>
                            </div>
                            <div class="col-md-6 col-sm-6 aos-init aos-animate" data-aos="fade-up"
                                data-aos-duration="1000">
                                <a href="hin-html/index.html" target="_blank" class="page-part-item">
                                    <img src="assets/img/h1.png" alt="">
                                    <div class="page-part-title">Home page 01</div>
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 aos-init aos-animate" data-aos="fade-up"
                                data-aos-duration="2000">
                                <a href="hin-html/index-2.html" target="_blank" class="page-part-item">
                                    <img src="assets/img/h2.png" alt="">
                                    <div class="page-part-title">Home page 02</div>
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 aos-init aos-animate" data-aos="fade-up"
                                data-aos-duration="1000">
                                <a href="hin-html/blog.html" target="_blank" class="page-part-item">
                                    <img src="assets/img/h3.png" alt="">
                                    <div class="page-part-title">Blog</div>
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 aos-init aos-animate" data-aos="fade-up"
                                data-aos-duration="2000">
                                <a href="hin-html/blog-details.html" target="_blank" class="page-part-item">
                                    <img src="assets/img/h4.png" alt="">
                                    <div class="page-part-title">Blog Details</div>
                                </a>
                            </div>
                        </div>
                        <div class="responsive pt-180 ">
                            <h3>SMOOTH MOBILE EXPERIENCE</h3>
                            <div class="section-title">Fully Responsive & Ready</div>
                            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                                <img src="assets/img/phone-page.png" alt="">
                            </div>
                        </div>
                        <div class="create-product pt-180">
                            <div class="section-title">Create your first product
                                with HIN and Start your
                                website today!</div>
                            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                                <img src="assets/img/footer.png" alt="">
                            </div>

                        </div>
                        <div class="support">
                            <div class="support-icon">
                                <img src="assets/img/support.png" alt="">
                            </div>
                            <div class="section-title">Quick & Fast Support</div>
                            <p>Need techical help? Do not hesitate to send us a message via our
                                <br> <a href="mailto:rabiulalam01833@gmail.com">support forum</a>. We're happy to help.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        /*
        ========================================
        Aos
        ========================================
        */
        AOS.init();

        /*
        ========================================
        Preloader
        ========================================
        */
        $(window).on('load', function () {
            $('#preloader').delay(200).fadeOut('slow');
            $('body').delay(200).css({
                'overflow': 'visible'
            });
        });

        // Disable inspect element
        $(document).bind("contextmenu", function (e) {
            e.preventDefault();
        });
        $(document).keydown(function (e) {
            if (e.which === 123) {
                return false;
            }
        });
    </script>
</body>

</html>