/* ====================================================
		========>> [ Global styles ] <<========	
====================================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');



html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2B2043;
    background: url(../img/body-bg.jpg) no-repeat center;
    background-size: cover;
}

#demo-body .container {
    max-width: 1500px;
}

a {
    text-decoration: none;
}

.pt-180 {
    padding-top: 180px;
}

.demo-area {}

.demo-content {}

a.logo {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.template-title {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    padding: 50px 0;
}

.design-img {}

.design-img img {
    width: 100%;
}

.design-img .design-img-1:nth-child(2n+1) {
    margin-right: 10px;
}

.design-img .design-img-1:nth-child(2n+2) {
    margin-left: 10px;
}

.features-content {}

.section-title {
    font-size: 44px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
}

.feature-aline {
    height: 150px;
    border-radius: 8px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.04));
    background-color: #ffffff;
    margin-top: 30px;
    text-align: center;
}

.feature-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.features-img {}

.features-img img {}

.feature-item h3 {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #22273b;
    font-family: "Roboto";
    font-weight: 700;
    padding-top: 10px;
}

.page-part-content {}

a.page-part-item {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.page-part-item img {
    width: 100%;
    transition: all .3s;
}

.page-part-item:hover img {
    filter: grayscale(100%);
}

.page-part-title {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    position: relative;
    transition: all .4s;
}

.page-part-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffc576;
    left: 0;
    top: -40px;
    opacity: 0;
    transition: all .4s;
    z-index: -1;
}

a.page-part-item:hover .page-part-title::before {
    top: 0px;
    opacity: 1;
}

.responsive {}

.responsive h3 {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
}

.responsive img {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.create-product img {
    width: 100%;
}

.support {
    padding: 50px 0 100px;
}

.support-icon {
    width: 110px;
    height: 110px;
    background-color: #313552;
    position: relative;
    margin: 0 auto;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.23));
    transition: all .3s;
}

.support-icon:hover {
    background-color: #ffc576;
}

.support-icon img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.support .section-title {
    padding: 20px 0;
}

.support p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
}

.support p a {
    color: #be0e0f;
}


/* preloader 3 */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #23273c;
    z-index: 9999;
}

.lds-css {
    display: block;
    position: relative;
    left: 46%;
    top: 46%;
    width: 70px;
    height: 70px;
}

.preloader-3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.preloader-3 span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #ffc576;
    -webkit-animation: preloader 1.1s linear infinite;
    animation: preloader 1.1s linear infinite;
}

.preloader-3 span:last-child {
    animation-delay: -0.6s;
    -webkit-animation-delay: -0.6s;
}

@keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

/* Extra small Device. */

@media (max-width: 768px) {
    .section-title {
        font-size: 30px;
    }

    .pt-180 {
        padding-top: 100px;
    }
}

@media (min-width: 320px) and (max-width: 577px) {
    .feature-col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 320px) {
    .feature-col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .feature-item h3 {
        font-size: 12px;
        line-height: 18px;
    }

    .feature-aline {
        height: 105px;
    }
}